  body {
    background-color: rgb(251, 61, 140);
  }

  #cocktail-container1, #cocktail-container2, #cocktail-container3  {
  display: flex;
  background: #fff;
  }
 
  img {
    width: 100%;
    height: 53%;
  }

  #margarita, #pina-colada {
    border-left: 2px double #000;
    border-right: 2px double #000;
    border-top: 2px double #000;
    border-bottom: 2px double #000; 
    flex: 33.33%;
  }

  #daiquiri {
    border-left: none;
    border-right: none;
    border-top: 2px double #000;
    border-bottom: 2px double #000;
    flex: 33.33%;
  }

  #mojito, #cosmopolitan {
    border-left: 2px double #000;
    border-right: 2px double #000;
    border-top: none;
    border-bottom: 2px double #000;
    flex: 33.33%;
  }

  #cuba-libra {
    border-left: none;
    border-right: none;
    border-top: none;
    border-bottom: 2px double #000;
    flex: 33.33%;
  }

  #long-island-tea, #whiskey-sour {
    border-left: 2px double #000;
    border-right: 2px double #000;
    border-top: none;
    border-bottom: 2px double #000;
    flex: 33.33%;
  }

  #tom-collins {
    border-left: none;
    border-right: none;
    border-top: none;
    border-bottom: 2px double #000;
    flex: 33.33%
  }

  li, p {
    margin-left: 10px;
    margin-right: 2px;
    font-family: Arial, Helvetica, sans-serif;
    color:rgba(36, 35, 35, 0.993)
  }

  li {
    margin-top: 8px;
  }

  h1 {
    font-size: 2.75em;
    font-weight: bold;
    color: #fff;
    text-align: center;
    font-family: Segoe Print;
  }

  h2 {
    text-align: center;
    font-family: Segoe Print;
    color:rgba(41, 40, 40, 0.993) 
  }

.btn {
    width: 110px; height: 50px;
    outline: 0;
    border: 2px solid #ccc;
    color: #000;
    cursor: pointer;
    overflow: hidden;
    position: relative;
    display:flex;
    justify-content: space-between;
    box-shadow: 0px 1.5px 15px rgba(0, 0, 0, 0.05);
    transition: 1.5s cubic-bezier(.21,.04,.26,.99);
}
.btn:hover {
    box-shadow: 0px 1.5px 15px rgba(240, 41, 161);
    border-color: rgb(240, 41, 161);
}
.btn-like {
    padding: 1rem 1rem 1rem 4rem;
    font-size: .9rem;
    border-radius: 8px;
    background: #fff;
    transition: 1.5s cubic-bezier(.21,.04,.26,.99);
}
.btn-like.liked {
    background: #fff;
    border-color: rgb(240, 41, 161);
}
/*-- Button Icon -- */
.btn-icon {
    display: inline-block;
    width: 10px;
    height: 20px;
    position: absolute;
    left: 1rem;
    transition: 1s cubic-bezier(.21,.04,.26,.99);
    transform: rotate(0deg)
}
.btn:hover .btn-icon {
    color: #000;
}
.btn.liked:hover .btn-icon {
    color: rgb(240, 41, 161);
}
.liked .btn--icon-default {
    transform: rotate(-90deg)
}
.btn:not(.liked).btn--icon-liked {
    transform: rotate(-90deg)
}
.liked .btn--icon-default,
.btn--icon-liked {
    opacity: 0;
    color: rgb(240, 41, 161);
    position: absolute;
}
.btn--icon-default,
.liked .btn--icon-liked {
    opacity: 1;
    left: 1rem;
}
/*-- Button Content -- */
.btn-content {
    transition: transform 0.1s ease;
    display: inline-block;
    /* position: absolute;
    right: 0; */
}
.liked .btn-content {
    color: rgb(240, 41, 161);
}
.btn:hover.liked .btn-content {
    color: rgb(240, 41, 161);
}
.btn:not(.liked) .btn-content--liked {
    transform: translate(110px)
}
.btn:not(.liked) .btn-content--default {
    transform: translate(-56px)
}
.liked .btn-content--default {
    transform: translate(24px)
}

@media all and (max-width:650px){

  #cocktail-container, #cocktail-container1, #cocktail-container2 {
  flex-direction: column;
  }
  
  #margarita, #pina-colada, #mojito, #cuba-libra, #cosmopolitan, #long-island-tea, #whiskey-sour, #tom-collins {
  flex: 100%;
  margin: 10px;
  }
  
  #daiquiri {
  flex: 100%;
  margin: 10px;
  }
  
  img {
  height: 100%;
  }
  }